[submodule "sigma"]
	path = sigma
	url = https://github.com/sigmahq/sigma.git
[submodule "legacy-sigmatools"]
	path = legacy-sigmatools
	url = https://github.com/SigmaHQ/legacy-sigmatools.git
[submodule "pySigma-backend-sqlite"]
	path = pySigma-backend-sqlite
	url = https://github.com/SigmaHQ/pySigma-backend-sqlite.git
